.nested-fields
  = link_to_remove_association f, class: "btn btn-danger col-md-1 pull-left" do 
    %i.fa.fa-times
  .col-md-11  
    = f.input :description, placeholder: " Tool everyone your step", label: false, input_html: {class: "form-control"}
    %hr/