-# #masonry-container.transitions-enabled.infinite-scroll.clearfix#index
#masonry-container.transitions-enabled.infinite-scroll.clearfix
  -@posts.each do |post|
    .col-md-3.col-sm-6.post
      .thumbnail
        =link_to (image_tag post.image.url(:small)), post
        %hr/
        %i.fa.fa-eye 
          =post.counter 
        %i.fa
               
        %i.fa.fa-heart
          =post.like
        = link_to like_post_path(post), method: :get, class: "btn btn-danger pull-right" do 
          %i.fa.fa-heart 



