@import "bootstrap";
@import "bootstrap-sprockets";

@import "font-awesome-sprockets";
@import "font-awesome";
@import url(http://fonts.googleapis.com/earlyaccess/cwtexyen.css);
@import url(https://fonts.googleapis.com/css?family=Lobster);
@import url(https://fonts.googleapis.com/css?family=Lato);


.body{
  background-color: lighten(#000, 75.7%);
  padding-top: 70px;
}

.fa{
  font-size: 1.5rem;
}
a{
  font-family: 'Lato';
}
a.btn.btn-danger{
}
span.badge{
  font-size:  2rem;
}
.thumbnail{
  padding: 5%;
}
.thumbnail a > img{
  max-width:100%;
}

#masonry-container {
  border-radius: 5px;
  clear: both;
}

.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

.transitions-enabled.masonry,
.transitions-enabled.masonry .masonry-brick {
  -webkit-transition-duration: 0.7s;
  transition-duration: 0.7s;
}

/* disable transitions on container */
.transitions-enabled.infinite-scroll.masonry {
  -webkit-transition-property: none;
  transition-property: none;
}
.thumbnail{
  background-color: lighten(#000, 85%);
}

/*navbar*/
.navbar-default{
  background-color: lighten(#000, 65%);
  padding-top: 0.5%;
  padding-bottom: 0.5%;
}
.navbar-brand{
  font-size: 5rem;
  font-family: 'Lobster', cursive;
}
.navbar-nav > li > a{
  font-size: 3rem;
}

/*nav_category*/
.container#nav_category{
  margin-bottom: 2rem;
  margin-right: 0;
}
.nav-tabs > li > a{
  font-size: 1.5rem;
}

.alert-info{
  font-size: 2rem;
}

/*posts#index*/
#posts#index > .thumbnail{
  width: 100%;
}
.thumbnail:visited{
  -webkit-filter: drop-shadow(8px 8px 20px black);
  filter: drop-shadow(8px 8px 20px black);
}
.thumbnail:hover{
  -webkit-filter: drop-shadow(8px 8px 20px black);
  filter: drop-shadow(8px 8px 10px black);
}

/*show*/
img.show_image{
  max-width: 100%;
}
#other_random_post{
  margin-top: 10%;
}
.show_also_like{
  font-size: 2.75rem;
}
.show_title{
  font-size: 5rem;
}
.show_like > a{
  color: white;
}
.btn-group > .btn:first-child {
    margin-left: 0;
    color: #d9534f;
}

.random_post{
  width: 100%;
}
.random_post:visited{
  -webkit-filter: drop-shadow(8px 8px 20px black);
  filter: drop-shadow(8px 8px 20px black);
}
.random_post:hover{
  -webkit-filter: drop-shadow(8px 8px 20px black);
  filter: drop-shadow(8px 8px 10px black);
}

/*footer*/
#footer{
  background-color: lighten(#000, 85.7%);
}

/*Fit iPad size*/
@media screen and (max-width: 768px) and (min-width: 415px){
  .thumbnail a > img{
    width: 100%;
  }
  .fa {
    font-size: 6rem;
    padding-bottom: 7%;
    padding-left: 3%;
  }
  .nav-tabs > li > a {
    font-size: 3.5rem;
  }

  .navbar-brand {
    font-size: 5rem;
  }
  .navbar-collapse, .navbar-default .navbar-form {
    padding-bottom: 4%;
  }

  .navbar-nav > li > a {
    font-size: 4rem;
    margin-bottom: 5%;
  }
}

/* Fit iPhone size */
@media screen and (max-width: 414px){
  .nav-tabs > li > a {
    font-size: 1.5rem;
  }
  .navbar-default .navbar-nav > li > a {
    font-size: 3rem;
    padding: 5%;
  }


  .fa {
    font-size: 2.5rem;
    padding-bottom: 7%;
    /* padding-left: 3%; */
  }
  .a.glyphicon.glyphicon-log-out{
    padding-bottom: 0;
  } 
}

