@import "bootstrap-sprockets";
@import "bootstrap";

@import "font-awesome-sprockets";
@import "font-awesome";
@import url(http://fonts.googleapis.com/earlyaccess/cwtexyen.css);
@import url(https://fonts.googleapis.com/css?family=Lobster);


/*navbar*/
.navbar-default{
  background-color: lighten(#000, 65%);
  padding-top: 0.5%;
  padding-bottom: 0.5%;
}
.navbar-brand{
  font-size: 40px;
  font-family: 'Lobster', cursive;
}
.navbar-nav{
  font-size: 20px;
}


.body{
  background-color: lighten(#000, 75.7%);
}
.alert-info{
  font-size: 20px;
}

/*posts#index*/
.container-fluid#index{
  margin-left: 6%;
  margin-right: 6%;
}
.div#post{
  margin-top: 15%;
  resize: auto;
}
.thumbnail{
  width:100%;
  margin-top: 5%;
  border-radius: 3%;
}
.thumbnail:visited{
  -webkit-filter: drop-shadow(8px 8px 20px black);
  filter: drop-shadow(8px 8px 20px black);
/*  border-radius: 100%;
*/}
.thumbnail:hover{
  -webkit-filter: drop-shadow(8px 8px 20px black);
  filter: drop-shadow(8px 8px 10px black);
/*  border-radius: 100%;
*/}


/*show*/
.container-fluid#show{

  margin-left: 8%;
  margin-right: 8%;

}
#other_random_post{
  margin-top: 10%;
}

.image{
  width:100%;
}
.random_post{
  width: 100%;
}
.random_post:visited{
  -webkit-filter: drop-shadow(8px 8px 20px black);
  filter: drop-shadow(8px 8px 20px black);
/*  border-radius: 100%;
*/}
.random_post:hover{
  -webkit-filter: drop-shadow(8px 8px 20px black);
  filter: drop-shadow(8px 8px 10px black);
/*  border-radius: 100%;
*/}

/*footer*/
.div#footer{
  margin-top: 10%;
  text-align: center;

  max-width: 100%;
  max-height: auto;
  background-color: lighten(#000, 85.7%);
}




