.col-md-12      
  -if Rails.env == "development" 
    %p=I18n.default_locale 
    %p=params    
    -if user_signed_in?     
      %p="current user: #{current_user.name}"
      -unless @post.nil?
        %p="post user: #{@post.user.name}"