.container
  .col-md-4#lang
    %p.text-center= t(:select_lang)
    .col-md-6
      = link_to "中文版", set_locale_posts_path(locale: "zh-TW"), method: :post, class: "btn btn-primary "
    .col-md-6 
      = link_to "English", set_locale_posts_path(locale: "en"), method: :post, class: "btn btn-primary" 

  .col-md-4#about
    %p.text-center= t(:about)
    .col-md-4
      %a{ href: "https://foreverbule2003.github.io/",target: "_blank" } 
        %i.fa.fa-home.btn.btn-default 
    .col-md-4   
      %a{ href: "https://github.com/foreverbule2003",target: "_blank" } 
        %i.fa.fa-github.btn.btn-default
    .col-md-4

      %a{:href => "http://foreverbule2003.logdown.com/"}  
        %i.fa.fa-pencil.btn.btn-default

  .col-md-4#lang
    %p.text-center Created by foreverbule2003
