.container#nav_category
  -Category.all.order("id").each do |category|
    %ul.pull-right.nav.nav-tabs
      %li=link_to category.name, category_path(category)

    -# , class: btn btn-primary btn-lg "
    -# "panel panel-info" 
    -# "label label-success"
