.col-lg-3.col-md-4.col-xs-10.col-xs-offset-1.post
  .thumbnail
    =link_to (image_tag post.image.url(:small)), post
    %hr/
    %i.fa.fa-eye 
      =post.counter 
    %i.fa
           
    %i.fa.fa-heart
      =post.like

    = link_to like_post_path(post), method: :get, class: "btn btn-danger pull-right" do 
      %i.fa.fa-heart 