.col-lg-3.col-md-4.col-xs-12.post
  .thumbnail#index
    =link_to (image_tag post.image.url(:small)), post
    %hr/

    %span.badge
      =post.counter 
      %i.fa.fa-eye 
      
    %span.badge
      =post.get_likes.size
      %i.fa.fa-heart

    - if user_signed_in?
      = link_to like_post_path(post), method: :get, class: "btn btn-default btn btn-sm pull-right" do
        =render 'common/like_btn', post: post
