!!! 5
%html
  %head
    %title
      =render_title(yield(:title))
 
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/

  %body
    =render 'common/navbar'
    .container
      =render 'common/notice_msg'
      =render 'common/search'
      =render 'common/debug_params'
      =render 'common/nav_category'
      =yield
    #footer
      =render 'common/footer'

      
  


      
