!!!
%html
%head
  %title
  = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
  = javascript_include_tag 'application', 'data-turbolinks-track' => true
  = csrf_meta_tags

%body.body
  =render 'common/navbar'

  
  .alert-success= notice
  =yield

  =render 'common/footer', input_html: {class: "button"}
  


