!!! 5
%html
  %head
    %title
      Paintiful
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/


  %body.body
    .container
      =render 'common/navbar'
      
      -if Rails.env == "development" 
        =I18n.default_locale 
        
      .alert-info
        =notice_message
      =render 'common/nav_category'

    .container=yield
  #footer
    =render 'common/footer'
  


